.code_block_component{
    margin: 2rem 1rem;
    background-color: #F5F5F5;
}

.code_block_icon{
    margin-right:5px;
}

.code_block_div{
    max-height: 50vh;
    overflow-y: auto;
    margin-bottom: 1rem;
}