.file_form {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    min-width: 40%;
    max-width: 45%;
    justify-content: center;
    gap: 10px;
}

.file_form__label {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.file_form__file_format {
    text-decoration: underline;
}

.file_form input[type="file"] {
    height: 200px;
}